---
import SiteFooter from "~/components/site-footer.astro";
import SiteHeader from "~/components/site-header.astro";

import "~/styles/globals.css";

import "@fontsource/geist-sans/400.css";
import "@fontsource/geist-sans/500.css";
import "@fontsource/geist-sans/600.css";
import "@fontsource/geist-sans/700.css";
import "@fontsource/geist-mono";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="icon" href="/favicon-32x32.png" type="image/png" sizes="32x32" />
    <link rel="author" href="https://fellipeutaka.vercel.app" />
    <meta name="viewport" content="width=device-width" />
    <meta
      name="theme-color"
      media="(prefers-color-scheme: light)"
      content="white"
    />
    <meta
      name="theme-color"
      media="(prefers-color-scheme: dark)"
      content="black"
    />
    <meta name="creator" content="Fellipe Utaka" />
    <meta name="generator" content={Astro.generator} />
    <title>Kanpeki</title>
  </head>
  <body class="relative grid grid-rows-[auto,1fr,auto] min-h-dvh bg-background">
    <SiteHeader />
    <slot />
    <SiteFooter />
  </body>
</html>
