.dark:root {
  .shiki span {
    color: var(--shiki-dark);
  }
}

.shiki {
  span {
    /* color: light-dark(var(--shiki-light), var(--shiki-dark)); */
    color: var(--shiki-light);
  }
  .line {
    @apply px-2;

    &:empty {
      @apply h-5;
    }
  }
  code {
    @apply grid;
  }
}

.mdx > .steps:first-child > h3:first-child {
  @apply mt-0;
}

.steps > :where(h2, h3) {
  @apply mt-8 mb-4 text-base font-semibold;
  counter-increment: step;

  &::before {
    @apply absolute size-9 bg-muted rounded-full font-mono font-light grid place-content-center -indent-px border-4 border-background;
    @apply ml-[-50px] -mt-1;
    content: counter(step);
  }
}
