figure.shiki.shiki-themes code {
  padding: 0;
  background-color: transparent;
}

figure.shiki.shiki-themes .line {
  display: inline-block;
  width: 100%;
  padding-inline: 0.75rem;

  &.highlighted {
    background-color: var(--color-muted);
  }
}

.shiki.shiki-themes span {
  color: light-dark(var(--shiki-light), var(--shiki-dark));
}

.mdx > .steps:first-child > h3:first-child {
  margin-top: 0;
}

.mdx > div:where([dir], [data-orientation]):first-child {
  margin-top: 0;
}

.steps > :where(h2, h3) {
  margin: 2rem 0 1rem;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5;
  counter-increment: step;

  &::before {
    position: absolute;
    display: grid;
    place-content: center;
    width: 2.25rem;
    height: 2.25rem;
    margin-top: -0.25rem;
    margin-left: -50px;
    font-family: var(--font-mono);
    font-weight: 300;
    text-indent: -1px;
    content: counter(step);
    background-color: var(--color-muted);
    border-color: var(--color-bg);
    border-width: 4px;
    border-radius: calc(infinity * 1px);
  }
}
