---
import { ButtonStyles } from "~/components/ui/button";
import { Separator } from "~/components/ui/separator";
import RootLayout from "~/layouts/root.astro";
---

<RootLayout>
  <main class="grid place-content-center gap-6 border-b">
    <div class="flex items-center gap-6">
      <h1 class="font-medium text-2xl">404</h1>
      <Separator orientation="vertical" />
      <h2 class="text-sm">This page could not be found.</h2>
    </div>
    <a
      class={ButtonStyles({
        variant: "secondary",
      })}
      href="/"
    >
      Go back to the home page
    </a>
  </main>
</RootLayout>
