---
import SiteHero from "~/components/site-hero.astro";
import RootLayout from "~/layouts/root.astro";
---

<RootLayout>
  <main class="container pt-20 md:pt-40">
    <SiteHero />
  </main>
</RootLayout>
