@import "tailwindcss";
@import "./typography.css";

@plugin "tailwindcss-react-aria-components";
@plugin "tailwindcss-motion";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-sans: var(--font-family-sans), ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-mono: var(--font-family-mono), ui-monospace, SFMono-Regular, Menlo,
    Monaco, Consolas, "Liberation Mono", "Courier New", monospace;

  --color-bg: light-dark(oklch(1 0 0), oklch(0.16 0.01 262.25));
  --color-fg: light-dark(oklch(0.16 0.01 262.25), oklch(0.98 0 0));

  --color-card: light-dark(oklch(1 0 0), oklch(0.16 0.01 262.25));
  --color-card-fg: light-dark(oklch(0.16 0.01 262.25), oklch(0.98 0 0));

  --color-popover: light-dark(oklch(1 0 0), oklch(0.16 0.01 262.25));
  --color-popover-fg: light-dark(oklch(0.16 0.01 262.25), oklch(0.98 0 0));

  --color-primary: light-dark(oklch(0.85 0.2 93), oklch(0.85 0.2 93));
  --color-primary-fg: light-dark(oklch(0 0 0), oklch(0 0 0));

  --color-secondary: light-dark(
    oklch(0.96 0.01 262.25),
    oklch(0.23 0.01 262.25)
  );
  --color-secondary-fg: light-dark(oklch(0.25 0.01 262.25), oklch(0.98 0 0));

  --color-muted: light-dark(oklch(0.96 0.01 262.25), oklch(0.23 0.01 262.25));
  --color-muted-fg: light-dark(oklch(0.5 0.01 262.25), oklch(0.67 0.01 262.25));

  --color-accent: light-dark(oklch(0.96 0.01 262.25), oklch(0.23 0.01 262.25));
  --color-accent-fg: light-dark(oklch(0.25 0.01 262.25), oklch(0.98 0 0));

  --color-success: light-dark(oklch(0.62 0.18 0.53), oklch(0.62 0.18 0.53));
  --color-success-fg: light-dark(oklch(0.83 0.13 0.97), oklch(0.83 0.13 0.97));

  --color-info: light-dark(oklch(0.76 0.19 0.67), oklch(0.76 0.19 0.67));
  --color-info-fg: light-dark(oklch(1 0 0.75), oklch(0.76 0.19 0.67));

  --color-warning: light-dark(oklch(0.5 1 100), oklch(76 0.4 70));
  --color-warning-fg: light-dark(oklch(0.4 0.18 0.3), oklch(0.4 0.18 0.3));

  --color-danger: light-dark(oklch(0.57 0.22 27.16), oklch(0.33 0.15 27.16));
  --color-danger-fg: light-dark(oklch(0.98 0 0), oklch(0.98 0 0));

  --color-border: light-dark(oklch(0.89 0.01 262.25), oklch(0.23 0.01 262.25));
  --color-input: light-dark(oklch(0.89 0.01 262.25), oklch(0.23 0.01 262.25));
  --color-ring: var(--color-primary);

  --animate-collapsible-up: collapsible-up 150ms ease-out;
  --animate-collapsible-down: collapsible-down 150ms ease-out;
}

@utility container {
  margin-inline: auto;
  padding-inline: 2rem;
}

@utility ring-default {
  @apply ring-4 ring-primary/20;
}

@utility ring-danger {
  @apply ring-4 ring-danger/20;
}

@utility border-ring-default {
  @apply border-primary/70;
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-border, currentColor);
  }

  html {
    scroll-behavior: smooth;

    &.dark {
      color-scheme: dark;
    }
  }

  body {
    font-feature-settings: "rlig" 1, "calt" 1;

    @apply antialiased bg-bg text-fg;
  }
}
