---
import { mainNav } from "~/config/docs";
import { siteConfig } from "~/config/site";
import { Icons } from "./ui/icons";
---

<div class="mr-4 hidden md:flex">
  <a href="/" class="mr-4 flex items-center gap-2 lg:mr-6">
    <Icons.Logo className="size-6" />
    <span class="hidden font-bold lg:block">{siteConfig.name}</span>
  </a>
  <nav class="flex items-center gap-4 text-sm lg:gap-6" id="main-nav">
    {
      mainNav.map((link) => (
        <a
          href={link.href}
          class="transition hover:text-foreground/80 data-[active=false]:text-foreground/60"
        >
          {link.title}
        </a>
      ))
    }
  </nav>
</div>

<script>
  const links = document.querySelectorAll<HTMLAnchorElement>("nav#main-nav a")!;

  links.forEach((link) => {
    link.setAttribute(
      "data-active",
      String(window.location.pathname.startsWith(link.pathname))
    );
  });
</script>
