---
import { siteConfig } from "~/config/site";
import { CommandMenu } from "./command-menu";
import MainNav from "./main-nav.astro";
import { Icons } from "./ui/icons";
import { LinkButton } from "./ui/link-button";
---

<header
  class="sticky top-0 z-50 w-full border-b border-border/40 bg-background/95 backdrop-blur supports-[backdrop-filter]:bg-background/60"
>
  <div class="container flex h-14 max-w-screen-2xl items-center">
    <MainNav />
    {/* <MobileNav /> */}
    <div
      class="flex flex-1 items-center justify-between space-x-2 md:justify-end"
    >
      <div class="w-full flex-1 md:w-auto md:flex-none">
        <CommandMenu client:load />
      </div>
      <nav class="flex items-center">
        <LinkButton
          client:load
          href={siteConfig.links.github}
          target="_blank"
          rel="noreferrer"
          variant="ghost"
          size="icon"
        >
          <Icons.GitHub className="size-4" />
          <span class="sr-only">GitHub</span>
        </LinkButton>

        <LinkButton
          client:load
          href={siteConfig.links.twitter}
          target="_blank"
          rel="noreferrer"
          variant="ghost"
          size="icon"
        >
          <Icons.Twitter className="size-3" />
          <span class="sr-only">Twitter</span>
        </LinkButton>
      </nav>
    </div>
  </div>
</header>
